.features {
  background-color: $bg-section;
}

@media (width <= 767px) {
  .features {
    padding: 42px 0 38px;
  }

  .features__title {
    font-family: "Alumni Sans", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;

    margin: 0;
  }

  .features__list {
    padding: 40px 0 0;
    margin: 0;
    list-style: none;

    display: grid;
    row-gap: 35px;
    grid-template-columns: 320px;
    grid-template-rows: minmax(92px, auto);
  }

  .features__list dl {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;

    display: grid;
    column-gap: 14px;
    grid-template-columns: 290px;

    padding: 0 15px;
    margin: 0;
  }

  .features__list dt {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;

    background: $features-numbers;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
  }

  .features__list dt span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    transform: translate(0, 2px);

    display: block;
  }

  .features__list dd {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    padding: 10px 20px 0;
    margin: 0;
  }

  .features__list dd span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;

    display: block;
    padding: 13px 10px 0;
  }

  .features__list li:first-child {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    text-align: center;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 3px 0 5px;

    color: $text-light;

    background-color: $bg-feature;
  }

  .features__list li:first-child dl {
    grid-template-columns: 250px;
    grid-template-rows: minmax(64px, auto) minmax(48px, auto);
    flex-direction: column;

    padding: 30px 35px 39px;
  }

  .features__list li:first-child dt {
    -webkit-text-fill-color: $text-light;
  }

  .features__list li:first-child dd {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    padding-top: 6px;
    text-align: center;
  }

  .features__list li:first-child dd span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

    display: block;
    padding: 20px 25px 0;
    text-align: center;
  }
}

@media (width >= 768px) and (width <= 1365px) {
  .features {
    padding: 60px 0;
  }

  .features__title {
    font-family: "Alumni Sans", serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;

    margin: 0;
  }

  .features__list {
    padding: 50px 45px 0;
    margin: 0;
    list-style: none;

    display: grid;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: minmax(92px, auto);
  }

  .features__list dl {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;

    display: grid;
    column-gap: 14px;
    grid-template-columns: min-content 1fr;

    margin: 0;
  }

  .features__list dt {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;

    background: $features-numbers;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
  }

  .features__list dt span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    transform: translate(0, 2px);

    display: block;
  }

  .features__list dd {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    padding: 0;
    margin: 0;
  }

  .features__list dd span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

    display: block;
    padding-top: 12px;
  }

  .features__list li:first-child {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    text-align: center;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 35px;

    color: $text-light;

    background-color: $bg-feature;
  }

  .features__list li:first-child dl {
    grid-template-columns: 250px;
    grid-template-rows: minmax(70px, auto) minmax(48px, auto);
    flex-direction: column;
  }

  .features__list li:first-child dt {
    -webkit-text-fill-color: $text-light;
  }

  .features__list li:first-child dd {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    padding-top: 25px;
    text-align: center;
  }

  .features__list li:first-child dd span {
    display: block;
    padding-top: 25px;
    text-align: center;
  }
}

@media (width >= 1366px) {
  .features {
    padding: 100px 0 50px;
  }

  .features__title {
    font-family: "Alumni Sans", serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0;
    text-align: center;

    margin: 0;
  }

  .features__list {
    padding: 50px 103px;
    margin: 0;
    list-style: none;

    display: grid;
    column-gap: 40px;
    row-gap: 78px;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: minmax(92px, auto) minmax(92px, auto);
  }

  .features__list dl {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;

    display: grid;
    column-gap: 40px;
    grid-template-columns: 110px 210px;

    margin: 0;
  }

  .features__list dt {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;

    background: $features-numbers;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
  }

  .features__list dt span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    padding-top: 4px;
    display: block;
  }

  .features__list dd {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;

    padding-top: 4px;
    margin: 0;
  }

  .features__list dd span {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

    display: block;
    padding-top: 8px;
  }

  .features__list li:first-child {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    text-align: center;

    padding: 58px 40px;
    color: $text-light;

    background-color: $bg-feature;
  }

  .features__list li:first-child dl {
    grid-template-columns: 280px;
    grid-template-rows: minmax(70px, auto) minmax(48px, auto);
    flex-direction: column;
  }

  .features__list li:first-child dt {
    -webkit-text-fill-color: $text-light;
  }

  .features__list li:first-child dd {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;

    padding-top: 9px;
    text-align: center;
  }

  .features__list li:first-child dd span {
    display: block;
    padding-top: 30px;
    text-align: center;
  }
}
