
.page-main__container {
  position: relative;
  margin: 0 auto;

  @media (width <= 767px) {
    width: 320px;
  }

  @media (width >= 768px) and (width <= 1365px) {
    width: 768px;
  }

  @media (width >= 1366px) {
    width: 1366px;
  }
}
