$bg-page: #ffffff;
$bg-section: #f8f9fc;
$bg-hero: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$bg-hero-picture: #071553;
$offers-color: #1c3374;
$bg-card: #ffffff;
$bg-feature: #1c3374;
$bg-footer: #030a1a;
$bg-games: #ed0233;
$bg-offers: #ed0233;
$text-dark: #102654;
$text-light: #ffffff;
$decor-active: #d10a42;
$color-active: #102656;
$color-price: #103aae;
$card-button: #102654;
$price-shadow: #e8e8e8;
$faq-border: #74819c;
$faq-button-accord: #1c3374;
$faq-tab-color: linear-gradient(120deg, #ed0233 17.6%, #003eb7 100.31%);
$features-numbers: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
$form-field: #74819c;
$tab-border: rgba(120, 120, 120, 0.2);
$border-menu-item: rgba(16, 38, 84, 0.2);
$text-black: #030A1A;
$text-light-opacity: rgb(255, 255, 255, 0.3);
